{% extends 'Guest/Header.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>

<body>
   <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 align="center">User</h1>
        <table cellpadding="10" cellspacing="0" border="4" align="center">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txtname" placeholder="Enter Name" required></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="radio" name="txtgender" value="Male">male
                    <input type="radio" name="txtgender" value="Female">female
                </td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="tle" name="txtcontact"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txtemail" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txtpassword" required></td>
            </tr>
            <tr>
                <td>Confirm Password </td>
                <td><input type="Password" name="txtconfirmpassword" required></td>
            </tr>

            <tr>
                <td>District</td>
                <td><select name="sel_district" id="sel_district">
                        <option value="">...Select...</option>
                        {% for i in districtdata %}
                        <option value="{{i.id}}">
                            {{i.district_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>


            <tr>
                <td>Place</td>
                <td><select name="sel_place" id="sel_place">
                        <option value="">...Select...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="txtaddress" cols="30" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="fileImage" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                    <input type="reset" name="btnreset" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { disd: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>

</html>


{% endblock content %}