{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request List</title>
</head>

<body>

    <br><br><br><br>

    {% csrf_token %}
    <h1 align="center">View Request</h1>
    <br>
    <table border="2" align="center" cellpadding="10">
       
        <tr>
            <th>Sl.No</th>
            <th>Date</th>
            <th>Title</th>
            <th>Details</th>
            <th>Status</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.request_date}}</td>
            <td>{{i.request_title}}</td>
            <td>{{i.request_details}}</td>
            <td>
                {% if i.request_status == 1 %}
                    Accepted
                {% elif i.request_status == 0 %}
                    Pending
                {% else %}
                    Rejected
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</body>

</html>

{% endblock content %}