{% extends 'Adminstrator/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>District</title>
</head>
<body>
    <br>
    <br>
    
    <form method="post">
        {% csrf_token %}
        <h1  align="center">District</h1>
        <table cellpadding="10" cellspacing="0"  align="center" border="2" >
            <tr>
                <td>DistrictName</td>
                <td><input type="text" name="txtname" placeholder="Enter District" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                <input type="submit" name="btnsave" value="save">
                <input type="reset" name="btnsave" value="cancel">
            </td>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <table border="2"  align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>District</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.district_name}}</td>
            <td><a href="{% url 'Adminstrator:delDistrict' i.id %}">Delete</a> 
                <a href="{% url 'Adminstrator:districtupdate' i.id %}">Edit</a> 
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>

{% endblock content %}