{% extends 'Adminstrator/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserListAccepted</title>
</head>
<body>
    <br>
    <br>
    
        {% csrf_token %}

                                                    <table border="2"  align="center" cellpadding="10" style="margin-left: -35px;">
                                                        <tr>
                                                            <th>Sl.No</th>
                                                            <th>Name</th>
                                                            <th>Gender</th>
                                                            <th>Contact</th>
                                                            <th>Email</th>
                                                            <th>District</th>
                                                            <th>Place</th>
                                                            <th>Address</th>
                                                            <th>Photo</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        {% for i in userdata %}
                                                        <tr>
                                                            <td>{{forloop.counter}}</td>
                                                            <td>{{i.user_name}}</td>
                                                            <td>{{i.user_gender}}</td>
                                                            <td>{{i.user_contact}}</td>
                                                            <td>{{i.user_email}}</td>
                                                            <td>{{i.place.district.district_name}}</td>
                                                            <td>{{i.place.place_name}}</td>                           
                                                            <td>{{i.user_address}}</td>
                                                            <td><img src="{{i.user_photo.url}}" width="150" height="150" alt=""></td>
                                                            <td><a href="{% url 'Adminstrator:rejectuser' i.id %}">Reject</a> </td>

                                                        </tr>
                                                        {% endfor %}
                                                
                                                    </table>
                                                </body>
                                                </html>
                                                {% endblock content %}